@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Playfair+Display&family=Potta+One&display=swap');

/* :root {
  --font-ovo: 'Ovo', sans-serif;
  --font-potta: 'Potta One', cursive;
  --font-playfair: 'Playfair Display', serif;
} */

body {
  margin: 0;
  overflow-x: hidden;
}
.btn {
  @apply text-connote_orange bg-background shadow-sm px-2 py-0.5 rounded-xl;
}
.custom-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  @apply text-connote_white bg-connote_orange p-2 rounded-tr-lg rounded-bl-lg text-2xl font-extrabold  custom-text-shadow;
}

.headingPurple {
  @apply text-center text-4xl tracking-wide bg-connote_pastel_purple bg-opacity-30 my-8 py-3;
}

.promptPurple {
  @apply text-center text-2xl tracking-wide bg-connote_pastel_purple bg-opacity-30 my-8 py-3;
}

@media screen and (max-width: 767px) {
  .poemScrollOverflow {
    overflow-y: scroll;
    height: 96px; /* Equivalent to Tailwind's h-96 */
  }
}

html {
  font-family: 'Ovo';
}
