@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Ovo&family=Playfair+Display&family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ovo: 'Ovo', sans-serif;
  --font-tilt: 'Tilt Warp', cursive;
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

.orange_bg_col {
  @apply bg-connote_orange;
}

.pastel_blue_bg_col {
  @apply bg-connote_pastel_blue;
}

.green_bg_col {
  @apply bg-connote_green;
}

.orange_text_col {
  @apply text-connote_orange;
}

.pastel_blue_text_col {
  @apply text-connote_pastel_blue;
}

.green_text_col {
  @apply text-connote_green;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.btn {
  @apply text-connote_orange bg-background shadow-sm px-2 py-0.5 rounded-xl;
}
.custom-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  font-family: var(--font-Inter);
  @apply text-connote_orange p-1 border-2 border-connote_orange
    rounded-tr-lg rounded-bl-lg text-xl font-extrabold shadow-md bg-connote_pastel_purple bg-opacity-5;
}

.headingPurple {
  font-family: var(--font-playfair);
  @apply text-center text-4xl tracking-wide bg-connote_pastel_purple bg-opacity-30 my-8 py-3;
}

.promptPurple {
  font-family: var(--font-playfair);
  @apply text-center text-2xl tracking-wide bg-connote_pastel_purple bg-opacity-30 py-3;
}

.profileForm {
  font-family: var(--font-inter);
}

.responseUser {
  font-family: var(--font-inter);
  font-weight: 600;
}

.responseComment {
  font-family: var(--font-inter);
}

@media screen and (max-width: 767px) {
  .poemScrollOverflow {
    overflow-y: scroll;
    height: 200px;
  }
}

html {
  font-family: 'Ovo';
}
.button {
  @apply bg-connote_orange hover:opacity-80 w-36 active:scale-95 rounded-xl text-white p-2  duration-150;
}
.button-respond {
  @apply bg-connote_orange  hover:opacity-80 w-36 active:scale-95 rounded-xl text-sm text-white p-0.5  duration-150;
}
.sub-heading {
  font-family: var(--font-playfair);
  @apply text-center text-2xl tracking-wide bg-connote_pastel_purple bg-opacity-30 my-8 p-3 rounded-md shadow-lg;
}
.backgroundContainer {
  background-image: url('/JPG/42. Charm.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.backgroundContainerDark {
  background-image: url('/JPG/100. Chetwode Blue.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}
