.backgroundContainer {
  background-image: url('/JPG/42. Charm.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.backgroundContainerDark {
  background-image: url('/JPG/100. Chetwode Blue.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}
